head
  title char-blaster

body
  +char_blaster

template(name="char_blaster")
  #game(class = running)
    input#chars(value=chars)
    h1 #{current_char}
    button#start Start
    input#attempt
    hr
    div
      | Score:
      span#score #{score}
      br
      | Time:
      span#time #{time}
